################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/frontend/node_modules
/backend/store/__pycache__/admin.cpython-313.pyc
/backend/store/__pycache__/apps.cpython-313.pyc
/backend/store/__pycache__/models.cpython-313.pyc
/backend/store/__pycache__/__init__.cpython-313.pyc
/backend/accounts/migrations/__init__.py
/backend/wayne_backend/__pycache__
/backend/accounts/migrations
/backend/accounts/__pycache__
/backend/address/migrations
/backend/address/migrations/__pycache__/0001_initial.cpython-311.pyc
/backend/address/__pycache__
/backend/auth_service/__pycache__
/backend/carrier/management/commands/__pycache__
/backend/carrier/migrations
/backend/carrier/__pycache__
/backend/carrier/__pycache__/admin.cpython-311.pyc
/backend/wayne_backend/core/__pycache__
/backend/health/__pycache__
/backend/media/users/avatars
/backend/orders/migrations
/backend/orders/__pycache__
/backend/products/management/commands/__pycache__
/backend/products/migrations
/backend/products/__pycache__
/backend/recover/__pycache__
/backend/reset/__pycache__
/backend/store/__pycache__
/backend/wallet/migrations
/backend/wallet/__pycache__
/backend/__pycache__
/backend/store/__pycache__/admin.cpython-311.pyc
/backend/store/__pycache__/admin.cpython-313.pyc
/backend/store/__pycache__/apps.cpython-313.pyc
/backend/store/__pycache__/models.cpython-311.pyc
/backend/store/__pycache__/models.cpython-313.pyc
/backend/store/__pycache__/__init__.cpython-313.pyc
/backend/media/products
/backend/accounts/management/commands/__pycache__
/Projeto Final atualizado - DEV.pdf
